html {
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.8;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background-color: #fff;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

.l-footer {
  margin-top: 6.25rem;
  padding: 3.75rem 0;
  position: relative;
  overflow: hidden;
}

.l-wrapper {
  background: url(/img/common/bg.webp) center repeat-y;
}

.c-arrow__point {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 7.9997395833vw;
  aspect-ratio: 1;
  border-radius: 100%;
  transition: all 0.3s ease;
}
@media screen and (width >= 769px) {
  .c-arrow__point {
    width: 4.5vw;
  }
}
@media screen and (width >= 1101px) {
  .c-arrow__point {
    width: 2.8125rem;
  }
}
.c-arrow__point::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.8696614583vw;
  height: 1.0690104167vw;
  border-right: 0.0625rem solid #fff;
  border-bottom: 0.0625rem solid #fff;
  transform: translate(-60%, -50%) skewX(45deg);
  transition: all 0.3s ease;
}
@media screen and (width >= 769px) {
  .c-arrow__point::before {
    width: 1.4090909091vw;
    height: 0.4090909091vw;
  }
}
@media screen and (width >= 1101px) {
  .c-arrow__point::before {
    width: 1rem;
    height: 0.375rem;
  }
}

.c-background-color__black {
  background: #000;
}

.c-background-color__white {
  background: #fff;
}

.c-background-color__gray01 {
  background: #efefef;
}

.c-background-color__gray02 {
  background: #bbb;
}

.c-banner, .c-banner__contact, .c-banner__recruit {
  display: grid;
  place-content: center;
  place-items: center;
  padding-bottom: 2vw;
  height: 50vw;
  background-color: #efefef;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
  transition: background-color 0.3s ease;
}
@media screen and (width >= 769px) {
  .c-banner, .c-banner__contact, .c-banner__recruit {
    padding-bottom: 1.875rem;
    height: 30.0384114583vw;
    border-radius: 0.9375rem;
  }
}
@media screen and (width >= 971px) {
  .c-banner, .c-banner__contact, .c-banner__recruit {
    height: 21.4375rem;
  }
}
.c-banner__recruit {
  background-image: url(../../../img/common/footer_bnr01_sp@2x.webp);
  background-position: left center;
}
@media screen and (width >= 769px) {
  .c-banner__recruit {
    background-image: url(../../../img/common/footer_bnr01@2x.webp);
  }
}
.c-banner__contact {
  background-image: url(../../../img/common/footer_bnr02_sp@2x.webp);
  background-position: right center;
}
@media screen and (width >= 769px) {
  .c-banner__contact {
    background-image: url(../../../img/common/footer_bnr02@2x.webp);
  }
}

@media (any-hover: hover) {
  .c-banner:hover, .c-banner__recruit:hover, .c-banner__contact:hover {
    background-color: #f00;
    opacity: 1;
  }
}
.c-border-radius__15 {
  border-radius: 0.9375rem;
}

.c-color__red {
  color: #f00;
}

.c-color__white {
  color: #fff;
}

.c-display__pconly {
  display: none;
}
@media screen and (width >= 769px) {
  .c-display__pconly {
    display: block;
  }
}

.c-display__sp-contents {
  display: contents;
}
@media screen and (width >= 769px) {
  .c-display__sp-contents {
    display: block;
  }
}

.c-display__pc-contents {
  display: block;
}
@media screen and (width >= 769px) {
  .c-display__pc-contents {
    display: contents;
  }
}

.c-flex {
  display: flex;
}

.c-flex__sp-column, .c-flex__sp-column--space-between {
  display: flex;
  flex-direction: column;
}
@media screen and (width >= 769px) {
  .c-flex__sp-column, .c-flex__sp-column--space-between {
    flex-direction: row;
  }
}

@media screen and (width >= 769px) {
  .c-flex__sp-column--space-between {
    flex-direction: row;
    justify-content: space-between;
  }
}

.c-font__serif, .c-font__serif--italic, .c-font__serif--bold {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.c-font__serif--bold {
  font-weight: bold;
}

.c-font__serif--italic {
  font-style: italic;
}

.c-font__sans {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.c-inner, .c-inner__max1100, .c-inner__max990, .c-inner__max970, .c-inner__point {
  max-width: 1200px;
  width: 90%;
  margin-inline: auto;
}

.c-inner__point {
  width: 39.9993489583vw;
}
@media screen and (width >= 769px) {
  .c-inner__point {
    width: 90%;
  }
}

.c-inner__max970 {
  width: 100%;
}
@media screen and (width >= 769px) {
  .c-inner__max970 {
    max-width: 970px;
    width: 90%;
  }
}

.c-inner__max990 {
  max-width: 990px;
}

.c-inner__max1100 {
  max-width: 1100px;
}

.c-pointnumber {
  display: inline-block;
  margin-bottom: 0.8em;
  padding-bottom: 0.3em;
  font-size: 3.90625vw;
  line-height: 0.5;
  font-weight: bold;
  text-align: center;
  border-bottom: 0.1875rem solid #000;
  transition: all 0.3s ease, border 0.3s ease;
}
@media screen and (width >= 769px) {
  .c-pointnumber {
    font-size: 2.0909090909vw;
    border-bottom-width: 0.3125rem;
  }
}
@media screen and (width >= 1101px) {
  .c-pointnumber {
    font-size: 1.25rem;
  }
}
.c-pointnumber span {
  display: block;
  font-size: 11.9791666667vw;
  line-height: 1;
}
@media screen and (width >= 769px) {
  .c-pointnumber span {
    font-size: 5.9090909091vw;
  }
}
@media screen and (width >= 1101px) {
  .c-pointnumber span {
    font-size: 5rem;
  }
}

.c-text__tate {
  writing-mode: vertical-rl;
}

.c-text__tate--pconly {
  writing-mode: inherit;
}
@media screen and (width >= 769px) {
  .c-text__tate--pconly {
    writing-mode: vertical-rl;
  }
}

.c-text__naname {
  transform: rotate(-10deg);
}

.c-title__background {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.c-title__text {
  vertical-align: text-bottom;
}

.p-bannerlist {
  margin-top: 10.0260416667vw;
}
@media screen and (width >= 769px) {
  .p-bannerlist {
    margin-top: 9.375rem;
  }
}

.p-bannerlist li {
  position: relative;
  margin: 2.9947916667vw 0;
}
@media screen and (width >= 769px) {
  .p-bannerlist li {
    margin: 3.75rem 0;
  }
}

.p-bannerlist__recruit {
  padding-left: 39.9993489583vw;
}
@media screen and (width >= 769px) {
  .p-bannerlist__recruit {
    padding-left: 30%;
  }
}

.p-bannerlist__contact {
  padding-right: 39.9993489583vw;
}
@media screen and (width >= 769px) {
  .p-bannerlist__contact {
    padding-right: 30%;
  }
}

.p-bannerlist__catch, .p-bannerlist__catch--contact, .p-bannerlist__catch--recruit {
  position: static;
  margin-bottom: 2em;
  font-size: 2.4739583333vw;
  text-align: center;
  pointer-events: none;
}
@media screen and (width >= 769px) {
  .p-bannerlist__catch, .p-bannerlist__catch--contact, .p-bannerlist__catch--recruit {
    position: absolute;
    top: 2.9947916667vw;
    margin-bottom: 0;
    font-size: 1.5625vw;
    text-align: left;
  }
}
@media screen and (width >= 971px) {
  .p-bannerlist__catch, .p-bannerlist__catch--contact, .p-bannerlist__catch--recruit {
    top: 3.125rem;
    font-size: 0.875rem;
  }
}
.p-bannerlist__catch--recruit {
  right: 2.9947916667vw;
}
@media screen and (width >= 971px) {
  .p-bannerlist__catch--recruit {
    right: 3.125rem;
  }
}
.p-bannerlist__catch--contact {
  left: 2.9947916667vw;
}
@media screen and (width >= 971px) {
  .p-bannerlist__catch--contact {
    left: 3.125rem;
  }
}

.p-bannerlist__title {
  display: inline-block;
  padding: 0 1em;
  background: #000;
  color: #fff;
  transform: skew(-10deg) rotate(-10deg);
  font-size: 4.5572916667vw;
  letter-spacing: 0.2em;
  line-height: 1.4;
  margin-bottom: 0.8em;
  transition: color 0.3s ease;
}
@media screen and (width >= 769px) {
  .p-bannerlist__title {
    font-size: 3.515625vw;
  }
}
@media screen and (width >= 971px) {
  .p-bannerlist__title {
    font-size: 2.375rem;
  }
}

.p-bannerlist__text {
  display: inline-block;
  position: relative;
  padding-bottom: 0.2em;
  font-size: 2.9947916667vw;
  border-bottom: 0.0625rem solid #000;
}
@media screen and (width >= 769px) {
  .p-bannerlist__text {
    font-size: 2.0833333333vw;
  }
}
@media screen and (width >= 971px) {
  .p-bannerlist__text {
    font-size: 1.125rem;
  }
}
.p-bannerlist__text::before {
  content: "";
  position: absolute;
  bottom: -4.9479166667vw;
  left: 50%;
  width: 3.90625vw;
  height: 1.3020833333vw;
  transform: translateX(-60%) skew(45deg);
  border-right: 0.0625rem solid #000;
  border-bottom: 0.0625rem solid #000;
  transition: width 0.3s ease;
}
@media screen and (width >= 769px) {
  .p-bannerlist__text::before {
    bottom: -3.75rem;
    width: 1.875rem;
    height: 0.625rem;
  }
}

@media (any-hover: hover) {
  .p-bannerlist a:hover .p-bannerlist__title {
    color: #f00;
  }
  .p-bannerlist a:hover .p-bannerlist__text::before {
    width: 5.859375vw;
  }
}
@media screen and (any-hover: hover) and (width >= 769px) {
  .p-bannerlist a:hover .p-bannerlist__text::before {
    width: 3.125rem;
  }
}
.p-footer__logo {
  display: inline-block;
  margin-bottom: 5vw;
}
@media screen and (width >= 769px) {
  .p-footer__logo {
    margin-bottom: 0.5em;
  }
}

.p-footer__address {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vw;
  font-size: 2.5vw;
}
@media screen and (width >= 769px) {
  .p-footer__address {
    display: block;
    margin-bottom: 0;
    font-size: 0.875rem;
  }
}
.p-footer__address span {
  display: inline-block;
}
.p-footer__address span:first-child {
  margin-right: 0;
}
@media screen and (width >= 769px) {
  .p-footer__address span:first-child {
    margin-right: 1em;
  }
}
.p-footer__address span:nth-child(2) {
  order: 3;
}
@media screen and (width >= 769px) {
  .p-footer__address span:nth-child(2) {
    order: unset;
  }
}

.p-footer__sns {
  margin-bottom: 8vw;
}
@media screen and (width >= 769px) {
  .p-footer__sns {
    margin-bottom: 1.25rem;
  }
}
.p-footer__sns a {
  transition: opacity 0.3s ease;
}
.p-footer__sns li {
  width: 7vw;
  margin-left: 0.5em;
}
@media screen and (width >= 769px) {
  .p-footer__sns li {
    width: auto;
    margin-left: 1em;
  }
}
.p-footer__sns img {
  height: 100%;
}

.p-footer__copyright {
  font-size: 2.5vw;
}
@media screen and (width >= 769px) {
  .p-footer__copyright {
    font-size: 0.875rem;
  }
}

@media (any-hover: hover) {
  .p-footer__sns a:hover,
.p-footer__logo:hover {
    opacity: 0.6;
  }
}
.p-pagetop {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: auto;
  right: 5vw;
  font-size: 3vw;
  letter-spacing: 0.04em;
  line-height: 1.8;
  z-index: 10;
  transform: translateX(0);
}
@media screen and (width >= 769px) {
  .p-pagetop {
    left: 50%;
    right: auto;
    font-size: 0.875rem;
    transform: translateX(-50%);
  }
}

.p-pagetop__span {
  display: block;
  position: relative;
  padding-bottom: 18vw;
  transform: translateY(0);
  transition: transform 0.3s ease, color 0.3s ease;
}
@media screen and (width >= 769px) {
  .p-pagetop__span {
    padding-bottom: 9.375rem;
    transform: translateY(1.25rem);
  }
}
.p-pagetop__span::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0.0625rem;
  height: 15vw;
  background: #000;
  transform: translateX(-50%);
  transition: background-color 0.3s ease;
}
@media screen and (width >= 769px) {
  .p-pagetop__span::before {
    height: 8.125rem;
  }
}
.p-pagetop__span::after {
  content: "";
  position: absolute;
  bottom: 15vw;
  left: 50%;
  width: 3vw;
  height: 3vw;
  border-top: 0.0625rem solid #000;
  border-right: 0.0625rem solid #000;
  transform: translate(-50%, 110%) rotate(-45deg);
  transition: border 0.3s ease;
}
@media screen and (width >= 769px) {
  .p-pagetop__span::after {
    bottom: 8.125rem;
    width: 1.25rem;
    height: 1.25rem;
  }
}

@media (any-hover: hover) {
  .p-pagetop:hover .p-pagetop__span {
    transform: translateY(0);
    opacity: 1;
    color: #f00;
  }
  .p-pagetop:hover .p-pagetop__span::before {
    background: #f00;
  }
  .p-pagetop:hover .p-pagetop__span::after {
    border-color: #f00;
  }
}
.p-performance {
  position: relative;
  margin-top: 35%;
}
@media screen and (width >= 769px) {
  .p-performance {
    margin-top: 16.25rem;
  }
}

.p-performance__title {
  position: absolute;
  top: -16vw;
  left: 0;
  z-index: 10;
}
@media screen and (width >= 769px) {
  .p-performance__title {
    top: -5.625rem;
    left: unset;
    right: 50%;
    transform: translateX(50%);
    padding-left: 1.875rem;
  }
}
@media screen and (width >= 1101px) {
  .p-performance__title {
    top: -6.875rem;
    padding-left: 3.125rem;
  }
}

.p-performance__title-bg {
  margin: 0.3125rem 0;
  font-size: 1.875rem;
  line-height: 1.8;
  letter-spacing: 0.34em;
  transition: max-width 0.5s ease;
}

.p-performance__title-text {
  margin-left: 0.5em;
  transition: opacity 0.5s ease;
}

.p-performance__list {
  padding: 2.9947916667vw 0;
}
@media screen and (width >= 769px) {
  .p-performance__list {
    padding: 1.25rem 0;
  }
}

.p-performance__listitem {
  display: flex;
  align-items: center;
  position: relative;
  margin: 1vw 0;
  padding: 2.9947916667vw 5vw;
  text-align: left;
  border-radius: 0.375rem;
}
@media screen and (width >= 769px) {
  .p-performance__listitem {
    display: block;
    flex: 1;
    margin: 0.1875rem;
    padding: 18.75rem 0 3.75rem;
    text-align: center;
    border-radius: 0.9375rem;
  }
}

.p-performance__listtitle {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  position: static;
  top: 3.75rem;
  left: 50%;
  margin-left: 0;
  font-size: 3.90625vw;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
}
@media screen and (width >= 769px) {
  .p-performance__listtitle {
    display: block;
    position: absolute;
    margin-left: -0.8em;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.8;
  }
}
.p-performance__listtitle span {
  display: block;
  order: 2;
  font-size: 2.0833333333vw;
}
@media screen and (width >= 769px) {
  .p-performance__listtitle span {
    order: unset;
    font-size: 0.625rem;
  }
}

.p-performance__case {
  padding-right: 1em;
  font-size: 2.9947916667vw;
  font-weight: bold;
}
@media screen and (width >= 769px) {
  .p-performance__case {
    padding-right: 0;
    font-size: 0.6875rem;
    font-weight: normal;
  }
}
.p-performance__case span {
  font-size: 3.515625vw;
}
@media screen and (width >= 769px) {
  .p-performance__case span {
    font-size: 1rem;
  }
}
@media screen and (width >= 1101px) {
  .p-performance__case span {
    font-size: 1.125rem;
  }
}

.p-performance__page {
  font-size: 2.9947916667vw;
  font-weight: bold;
  line-height: 1.2;
}
@media screen and (width >= 769px) {
  .p-performance__page {
    font-size: 0.6875rem;
    font-weight: normal;
  }
}
.p-performance__page span {
  display: inline-block;
  font-size: 3.90625vw;
}
@media screen and (width >= 769px) {
  .p-performance__page span {
    display: block;
    font-size: 1.375rem;
  }
}
@media screen and (width >= 1101px) {
  .p-performance__page span {
    font-size: 1.625rem;
  }
}

.p-point {
  position: relative;
  padding-top: 3.125rem;
}

.p-point__image {
  background: url(../../../img/point/point_img01@2x.webp) no-repeat center/cover;
  height: 94.99921875vw;
}
@media screen and (width >= 769px) {
  .p-point__image {
    background: none;
    height: auto;
  }
}

.p-point__titlearea {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  margin: auto auto;
}

.p-point__title-bg {
  margin: 0 0.9375rem;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0.34em;
  transition: max-height 0.5s ease;
}

.p-point__title-text, .p-point__title-text--big {
  margin-top: 0.625rem;
  transition: opacity 0.5s ease;
}
.p-point__title-text--big {
  font-size: 200%;
}

.p-point__list {
  position: relative;
}

.p-point__list-item01 {
  position: static;
  width: 89.9993489583vw;
  aspect-ratio: 1;
  margin-top: -15vw;
  background: url(../img/point/point_img02@2x.webp) no-repeat center/cover;
  border-radius: 100%;
  overflow: hidden;
}
@media screen and (width >= 769px) {
  .p-point__list-item01 {
    position: absolute;
    top: -10vw;
    right: 0;
    width: 46vw;
    margin-top: 0;
    z-index: 10;
  }
}
@media screen and (width >= 1101px) {
  .p-point__list-item01 {
    top: -9.375rem;
    width: 32rem;
  }
}
.p-point__list-item01::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 100%;
  opacity: 0;
  z-index: 5;
  transition: all 0.3s ease;
}
.p-point__list-item01 a {
  display: grid;
  place-content: center;
  place-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 15%;
  color: #fff;
  text-align: center;
  border: 0.3125rem solid transparent;
  border-radius: 100%;
  overflow: hidden;
  z-index: 10;
  transition: all 0.3s ease;
}
@media screen and (width >= 769px) {
  .p-point__list-item01 a {
    border-width: 0.9375rem;
  }
}
@media screen and (width >= 1101px) {
  .p-point__list-item01 a {
    padding-bottom: 3.125rem;
  }
}
.p-point__list-item01 .p-point__list-number {
  border-color: #fff;
}
.p-point__list-item01 .p-point__list-catch {
  font-size: 3.90625vw;
  color: #fff;
  transition: all 0.3s ease;
}
@media screen and (width >= 769px) {
  .p-point__list-item01 .p-point__list-catch {
    font-size: 2vw;
  }
}
@media screen and (width >= 1101px) {
  .p-point__list-item01 .p-point__list-catch {
    font-size: 1.625rem;
  }
}
.p-point__list-item01 .p-point__list-arrow {
  bottom: 20%;
}
@media screen and (width >= 769px) {
  .p-point__list-item01 .p-point__list-arrow {
    bottom: 15%;
  }
}
@media screen and (width >= 1101px) {
  .p-point__list-item01 .p-point__list-arrow {
    bottom: 3.75rem;
  }
}
.p-point__list-item01 .p-point__list-arrow::before {
  border-color: transparent #000 #000 transparent;
}

.p-point__list-item02 {
  position: relative;
  width: 100%;
  margin: -8% 0 5%;
  padding: 0;
}
@media screen and (width >= 769px) {
  .p-point__list-item02 {
    width: 46%;
    margin: 0;
    padding-top: 10vw;
  }
}
@media screen and (width >= 1101px) {
  .p-point__list-item02 {
    width: 30rem;
    padding-top: 5rem;
  }
}
.p-point__list-item02 a {
  display: block;
  transition: all 0.3s ease;
}
.p-point__list-item02 .p-point__list-catch {
  width: 7em;
  font-size: 12.8vw;
  color: transparent;
  line-height: 1;
  letter-spacing: 0;
  background: url(../../../img/point/point_img03@2x.webp) no-repeat center/cover;
  -webkit-background-clip: text;
          background-clip: text;
  transition: all 0.3s ease;
}
@media screen and (width >= 769px) {
  .p-point__list-item02 .p-point__list-catch {
    font-size: 6vw;
  }
}
@media screen and (width >= 1101px) {
  .p-point__list-item02 .p-point__list-catch {
    width: 100%;
    font-size: 4rem;
  }
}
.p-point__list-item02 .p-point__list-arrow {
  bottom: 2vw;
  left: auto;
  right: 3vw;
  transform: translateX(0);
}
@media screen and (width >= 769px) {
  .p-point__list-item02 .p-point__list-arrow {
    bottom: 0.5vw;
    right: 0;
  }
}
@media screen and (width >= 1101px) {
  .p-point__list-item02 .p-point__list-arrow {
    bottom: 0.3125rem;
    right: 2.5rem;
  }
}

.p-point__list-item03 {
  position: static;
  height: 57.9997395833vw;
  margin: 5% 0;
  z-index: 8;
}
@media screen and (width >= 769px) {
  .p-point__list-item03 {
    position: absolute;
    top: 33vw;
    right: 5vw;
    height: auto;
    margin: 0;
  }
}
@media screen and (width >= 1101px) {
  .p-point__list-item03 {
    top: 21.25rem;
    right: 5rem;
  }
}
.p-point__list-item03 a {
  display: block;
  width: 100%;
}
@media screen and (width >= 769px) {
  .p-point__list-item03 a {
    width: 20.1037272727vw;
  }
}
@media screen and (width >= 1101px) {
  .p-point__list-item03 a {
    width: 13.75rem;
  }
}

@media (any-hover: hover) {
  .p-point__list-item01 a:hover {
    border-color: #f00;
    opacity: 1;
  }
  .p-point__list-item01 a:hover .p-point__list-number, .p-point__list-item01 a:hover .p-point__list-catch {
    color: #f00;
    border-bottom-color: #f00;
  }
  .p-point__list-item01 a:hover .p-point__list-arrow {
    background: #f00;
  }
  .p-point__list-item01 a:hover .p-point__list-arrow::before {
    border-color: #000;
  }
  .p-point__list-item02 a:hover {
    opacity: 1;
  }
  .p-point__list-item02 .p-point__list-catch:hover {
    color: #f00;
  }
}
.u-align-items__flex-end--pc-only {
  align-items: flex-start;
}
@media screen and (width >= 769px) {
  .u-align-items__flex-end--pc-only {
    align-items: flex-end;
  }
}

.u-justify-content__flex-end--pconly {
  justify-content: flex-start;
}
@media screen and (width >= 769px) {
  .u-justify-content__flex-end--pconly {
    justify-content: flex-end;
  }
}
/*# sourceMappingURL=style.css.map */