@use "../../foundation/global" as g;

// pointlist
.c-arrow__point {
  position: absolute;
  bottom: g.rem(40);
  left: 50%;
  transform: translateX(-50%);
  width: g.tb-vw(61.5);
  aspect-ratio: 1;
  border-radius: 100%;
  transition: all .3s ease;
  @include g.tablet {
    width: g.pc-vw(54);
  }
  @include g.pc {
    width: g.rem(45);
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: g.tb-vw(23);
    height: g.tb-vw(9.3);
    border-right: g.rem(1) solid g.$color-white;
    border-bottom: g.rem(1) solid g.$color-white;
    transform: translate(-60%, -50%) skewX(45deg);
    transition: all .3s ease;
    @include g.tablet {
      width: g.pc-vw(18);
      height: g.pc-vw(6);
    }
    @include g.pc {
      width: g.rem(16);
      height: g.rem(6);
    }
  }
}