@use "../../foundation/global" as g;

.c-banner {
  display: grid;
  place-content: center;
  place-items: center;
  padding-bottom: g.rem(30);
  height: g.rem(343);
  background-color: g.$color-gray01;
  transition: background-color .3s ease;
  &__recruit {
    @extend .c-banner;
    background: url(../../../img/common/footer_bnr01@2x.webp) no-repeat left center / contain;      
  }
  &__contact {
    @extend .c-banner;
    background: url(../../../img/common/footer_bnr02@2x.webp) no-repeat right center / contain;
  }
}

// hover時
@media (any-hover: hover) {
  .c-banner:hover {
    background-color: g.$color-red;
  }
}