@use "../../foundation/global" as g;

.c-inner {
  max-width: 1200px;
  width: 90%;
  margin-inline: auto;
}
.c-inner__point {
  @extend .c-inner;
  width: g.tb-vw(307.195);
  @include g.tablet {
    width: 90%;
  }
}
.c-inner__max970 {
  @extend .c-inner;
  width: 100%;
  @include g.tablet {
    max-width: 970px;
    width: 90%;
  }
}
.c-inner__max1100 {
  @extend .c-inner;
  max-width: 1100px;
}