@use "../../foundation/global" as g;

.p-bannerlist {
  margin-top: g.rem(150);
}
.p-bannerlist li {
  position: relative;
  margin: g.rem(60) 0;
}
.p-bannerlist__recruit {
  padding-left: 30%;
}
.p-bannerlist__contact {
  padding-right: 30%;
}

// バナー内縦書きキャッチコピー
.p-bannerlist__catch {
  position: absolute;
  top: g.rem(50);
  font-size: g.rem(14);
  pointer-events: none;
  &--recruit {
    @extend .p-bannerlist__catch;
    right: g.rem(50);
  }
  &--contact {
    @extend .p-bannerlist__catch;
    left: g.rem(50);
  }
}

// タイトル
.p-bannerlist__title {
  display: inline-block;
  padding: 0 1em;
  background: g.$color-black;
  color: g.$color-white;
  transform: skew(-10deg) rotate(-10deg);
  font-size: g.rem(38);
  letter-spacing: .2em;
  line-height: 1.4;
  margin-bottom: .8em;
  transition: color .3s ease;
}

// タイトル下部テキスト
.p-bannerlist__text {
  display: inline-block;
  position: relative;
  padding-bottom: .2em;
  font-size: g.rem(18);
  border-bottom: g.rem(1) solid g.$color-black;
  // 矢印部分（hover時動きがあるのでここで制作）
  &::before {
    content: '';
    position: absolute;
    bottom: g.rem(-60);
    left: 50%;
    width: g.rem(30);
    height: g.rem(10);
    transform: translateX(-60%) skew(45deg);
    border-right: g.rem(1) solid g.$color-black;
    border-bottom: g.rem(1) solid g.$color-black;
    transition: width .3s ease;
  }
}

// hover時
@media (any-hover: hover) {
  .p-bannerlist a:hover .p-bannerlist__title {
    color: g.$color-red;
  }
  .p-bannerlist a:hover .p-bannerlist__text::before {
    width: g.rem(50);
  }
}