@use "../../foundation/global" as g;

.p-footer__logo {
  display: inline-block;
  margin-bottom: 5vw;
  @include g.tablet {
    margin-bottom: .5em;
  }
}
.p-footer__address {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vw;
  font-size: 2.5vw;
  @include g.tablet {
    display: block;
    margin-bottom: 0;
    font-size: g.rem(14);
  }
  & span {
    display: inline-block;
  }
  & span:first-child {
    margin-right: 0;
    @include g.tablet {
      margin-right: 1em;
    }
  }
  & span:nth-child(2) {
    order: 3;
    @include g.tablet {
      order: unset;
    }
  }
}
.p-footer__sns {
  margin-bottom: 8vw;
  @include g.tablet {
    margin-bottom: g.rem(20);
  }
  & a {
    transition: opacity 0.3s ease;
  }
  & li {
    width: 7vw;
    margin-left: .5em;
    @include g.tablet {
      width: auto;
      margin-left: 1em;
    }
  }
  & img {
    height: 100%;
  }
}
.p-footer__copyright {
  font-size: g.tb-vw(19.2);
  @include g.tablet {
    font-size: g.rem(14);
  }
}

// hover時
@media (any-hover: hover) {
  .p-footer__sns a:hover,
  .p-footer__logo:hover {
    opacity: .6;
  }
}