@use "../../foundation/global" as g;

.p-header {
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  width: 30%;
  height: g.rem(60);
  margin: g.rem(30) 0;
  z-index: 999;
  @include g.tablet {
    position: relative;
    width: 100%;
    height: auto;  
    z-index: 1000;
  }
  @include g.l-pc {
    margin: g.rem(50) 0;
  }
}

// headerタグ直下のinner
.p-header__inner {
  display: block;
  position: relative;
  min-width: inherit;
  width: 100%;
  height: g.rem(60);
  padding: 0;
  @include g.tablet {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.9);
    pointer-events: none;
    z-index: 997;
    transition: all 0.3s ease;
  }
  @include g.l-pc {
    padding: 0 g.rem(60);
  }
}

// title
.p-header__titlearea {
  position: relative;
  width: 100%;
  height: g.rem(60);
  padding: 0;
  background: transparent;
  z-index: 999;
  @include g.tablet {
    flex-grow: 1;
    width: auto;
    height: g.rem(180);
  }
}
.p-header__title {
  display: flex;
  align-items: center;
  height: 100%;
  & a {
    display: none;
    padding-right: 1em;
    font-size: g.rem(18);
    line-height: 2;
    border-right: g.rem(1) solid g.$color-black;
    transition: all .3s ease;
    @include g.l-pc {
      display: block;
    }
  }
}

// ハンバーガーボタン
.p-header__button {
  position: fixed;
  top: g.rem(15);
  right: g.tb-vw(24);
  width: g.rem(30);
  height: g.rem(30);
  z-index: 999;
  & span {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: g.rem(2);
    background-color: g.$color-black;
    transition: all .4s;
  }
  & span:nth-of-type(1) {
    top: 15%;
  }
  & span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  & span:nth-of-type(3) {
    bottom: 15%;
  }
}
// open時
header.is-open .p-header__button {
  & span:nth-of-type(1) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  & span:nth-of-type(2) {
    opacity: 0;
  }
  & span:nth-of-type(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
  }
}

// ナビゲーション
.p-header__nav {
  position: fixed;
  top: g.rem(60);
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  max-height: calc(100% - g.rem(60));
  padding: 0;
  opacity: 0;
  overflow-y: auto;
  z-index: 998;
  transition: tall .3s, opacity 1s;
  @include g.tablet {
    position: static;
    width: auto;
    transform: translateY(0);
    opacity: 1;
  }
}
// sp時headerにis-openがついた時
header.is-open .p-header__nav {
  opacity: 1;
  transform: translateY(0);
  transition: transform .3s, opacity 0s;
}
.p-header__nav-inner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  background: transparent;
}
.p-header__nav-list {
  display: block;
  margin: 0;
  height: auto;
  text-align: center;
  @include g.tablet {
    display: flex;
    justify-content: right;
    align-items: center;
    height: g.rem(180);
  }
  & li {
    line-height: 1.8;
  }
  & > li + li:not(.p-header__sns) {
    margin: 0;
    @include g.tablet {
      margin-left: g.rem(15);
    }
    @include g.tablet02{
      margin-left: g.rem(20);
    }
    @include g.l-pc {
      margin-left: g.rem(30);
    }
  }
  & a {
    display: block;
    position: relative;
    padding: 5%;
    font-size: g.tb-vw(31);
    line-height: 1;
    letter-spacing: .1em;
    background: transparent;
    transition: all .3s ease;
    @include g.tablet {
      padding: 0;
      font-size: g.rem(15);
    }
    @include g.tablet02 {
      font-size: g.rem(17);
    }
    @include g.l-pc {
      font-size: g.rem(18);
    }
  }
  & a::before {
    content: none;
    @include g.tablet {
      content: '';
      position: absolute;
      top: 105%;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: g.rem(1);
      background: g.$color-red;
      transition: all .3s ease;
    }
  }
}

// snsアイコン
.p-header__sns {
  display: inline-block;
  margin: 5%;
  border: none;
  @include g.tablet {
    flex-shrink: 0;
    margin: 0 0 0 g.rem(15);
  }
  @include g.tablet02{
    margin-left: g.rem(20);
  }
  @include g.l-pc {
    margin-left: g.rem(30);
  }
  & a::before {
    content: none;
  }
  & svg {
    vertical-align: baseline;
    transition: all .3s ease;
  }
}

// overlay
.p-header__overlay {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  pointer-events: none;
  z-index: 997;
  transition: all 0.3s ease;
  // sp時headerにis-openがついたら
  &.is-active {
    opacity: 1;
    pointer-events: auto;
  }
}


// hover時
@media (any-hover: hover) {
  .p-header__title a:hover,
  .p-header__nav-list a:hover {
    color: g.$color-red;
    opacity: 1;
  }
  .p-header__nav-list a:hover::before {
    width: 100%;
  }
  .p-header__sns a:hover svg {
    fill: g.$color-red;
  }
}