@use "../../foundation/global" as g;

.p-header {
  position: relative;
  width: 100%;
  margin: g.rem(30) 0;
  z-index: 1000;
  @include g.l-pc {
    margin: g.rem(50) 0;
  }
}

// headerタグ直下のinner
.p-header__inner {
  padding: 0;
  @include g.l-pc {
    padding: 0 g.rem(60);
  }
}

// title
.p-header__titlearea {
  flex-grow: 1;
  height: g.rem(180);
}
.p-header__title {
  display: flex;
  align-items: center;
  height: 100%;
  & a {
    display: none;
    padding-right: 1em;
    font-size: g.rem(18);
    line-height: 2;
    border-right: g.rem(1) solid g.$color-black;
    transition: all .3s ease;
    @include g.l-pc {
      display: block;
    }
  }
}

// ナビゲーション
.p-header__nav-list {
  justify-content: right;
  align-items: center;
  height: g.rem(180);
  & li {
    line-height: 1.8;
  }
  & > li + li {
    margin-left: g.rem(20);
    @include g.l-pc {
      margin-left: g.rem(30);
    }
  }
  & a {
    display: block;
    position: relative;
    font-size: g.rem(17);
    letter-spacing: .1em;
    transition: all .3s ease;
    @include g.l-pc {
      font-size: g.rem(18);
    }
  }
  & a::before {
    content: '';
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: g.rem(1);
    background: g.$color-red;
    transition: all .3s ease;
  }
}

// snsアイコン
.p-header__sns {
  flex-shrink: 0;
  & a::before {
    content: none;
  }
  & svg {
    vertical-align: baseline;
  }
}

// hover時
@media (any-hover: hover) {
  .p-header__title a:hover,
  .p-header__nav-list a:hover {
    color: g.$color-red;
    opacity: 1;
  }
  .p-header__nav-list a:hover::before {
    width: 100%;
  }
  .p-header__sns a:hover svg {
    fill: g.$color-red;
  }
}