@use "../../foundation/global" as g;

.p-header {
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  width: 30%;
  height: g.rem(60);
  margin: g.rem(30) 0;
  z-index: 999;
  @include g.tablet {
    position: relative;
    width: 100%;  
    z-index: 1000;
  }
  @include g.l-pc {
    margin: g.rem(50) 0;
  }
}

// headerタグ直下のinner
.p-header__inner {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: g.rem(60);
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  pointer-events: none;
  z-index: 997;
  transition: all 0.3s ease;
  @include g.l-pc {
    padding: 0 g.rem(60);
  }
}

// title
.p-header__titlearea {
  flex-grow: 1;
  height: g.rem(180);
}
.p-header__title {
  display: flex;
  align-items: center;
  height: 100%;
  & a {
    display: none;
    padding-right: 1em;
    font-size: g.rem(18);
    line-height: 2;
    border-right: g.rem(1) solid g.$color-black;
    transition: all .3s ease;
    @include g.l-pc {
      display: block;
    }
  }
}

// ハンバーガーボタン
.p-header__button {
  display: block;
  position: fixed;
  top: g.rem(15);
  right: g.tb-vw(24);
  width: g.rem(30);
  height: g.rem(30);
  z-index: 999;
  & span {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: g.rem(2);
    background-color: g.$color-black;
    transition: all .4s;
  }
  & span:nth-of-type(1) {
    top: 15%;
  }
  & span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  & span:nth-of-type(3) {
    bottom: 15%;
  }
}

// ナビゲーション
.p-header__nav-list {
  justify-content: right;
  align-items: center;
  height: g.rem(180);
  & li {
    line-height: 1.8;
  }
  & > li + li {
    margin-left: g.rem(20);
    @include g.l-pc {
      margin-left: g.rem(30);
    }
  }
  & a {
    display: block;
    position: relative;
    font-size: g.rem(17);
    letter-spacing: .1em;
    transition: all .3s ease;
    @include g.l-pc {
      font-size: g.rem(18);
    }
  }
  & a::before {
    content: '';
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: g.rem(1);
    background: g.$color-red;
    transition: all .3s ease;
  }
}

// snsアイコン
.p-header__sns {
  flex-shrink: 0;
  & a::before {
    content: none;
  }
  & svg {
    vertical-align: baseline;
  }
}

// overlay
.p-header__overlay {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  pointer-events: none;
  z-index: 997;
  transition: all 0.3s ease;
}

// hover時
@media (any-hover: hover) {
  .p-header__title a:hover,
  .p-header__nav-list a:hover {
    color: g.$color-red;
    opacity: 1;
  }
  .p-header__nav-list a:hover::before {
    width: 100%;
  }
  .p-header__sns a:hover svg {
    fill: g.$color-red;
  }
}