
@use "../../foundation/global" as g;

.p-hero {
  position: relative;
  height: g.tb-vw(1228.8);
  margin-bottom: g.tb-vw(-153.6);
  overflow: hidden;
  @include g.tablet {
    height: auto;
    margin-bottom: 0;
    overflow: auto;
  }
}

// 右の大きな画像
.p-hero__image01 {
  display: block;
  width: 135%;
  margin-left: -8%;
  margin-top: -5%;
  text-align: right;
  transition-delay: .6s;
  transition: all .4s ease;
  @include g.tablet {
    width: auto;
    margin: 0;
  }
  & img {
    display: inline;
    width: 100%;
    @include g.tablet {
      width: 80%;
    }
  }
}

// 一番小さい画像
.p-hero__image02 {
  display: block;
  position: absolute;
  width: 60%;
  bottom: 12%;
  left: 52%;
  transition: all .4s ease;
  @include g.tablet {
    width: 25%;
    bottom: 2.2%;
    left: 15.8%;
  }
}

// 中くらいの画像
.p-hero__image03 {
  display: block;
  position: absolute;
  width: 70%;
  bottom: 0;
  left: -10%;
  transition: all .4s ease;
  @include g.tablet {
    width: 30%;
    bottom: 12%;
    left: -3%;
  }
}

// キャッチコピー
.p-hero__catch {
  position: absolute;
  top: 18%;
  left: 5%;
  transform: rotate(-10deg);
  font-size: g.tb-vw(38.4);
  letter-spacing: .3em;
  transition: all .4s ease;
  @include g.tablet {
    top: 40%;
    left: 38%;
    font-size: g.pc-vw(22);
  }
}

// logo
.p-hero__logo {
  position: absolute;
  width: 25%;
  top: g.tb-vw(38.4);
  left: 5%;
  @include g.tablet {
    width: 10%;
    top: 8%;
    left: 10%;
  }
}