@use "../../foundation/global" as g;

.p-pagetop {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: auto;
  right: 5vw;
  font-size: 3vw;
  letter-spacing: .04em;
  line-height: 1.8;
  z-index: 10;
  transform: translateX(0);
  @include g.tablet {
    left: 50%;
    right: auto;
    font-size: g.rem(14);
    transform: translateX(-50%);
  }
}

// 文字と矢印部分
.p-pagetop__span {
  display: block;
  position: relative;
  padding-bottom: 18vw;
  transform: translateY(0);
  transition: transform .3s ease, color .3s ease;
  @include g.tablet {
    padding-bottom: g.rem(150);
    transform: translateY(g.rem(20));
  }
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: g.rem(1);
    height: 15vw;
    background: g.$color-black;
    transform: translateX(-50%);
    transition: background-color .3s ease;
    @include g.tablet {
      height: g.rem(130);
    }
  }
  &::after{
    content: '';
    position: absolute;
    bottom: 15vw;
    left: 50%;
    width: 3vw;
    height: 3vw;
    border-top: g.rem(1) solid g.$color-black;
    border-right: g.rem(1) solid g.$color-black;
    transform: translate(-50%, 110%) rotate(-45deg);
    transition: border .3s ease;
    @include g.tablet {
      bottom: g.rem(130);
      width: g.rem(20);
      height: g.rem(20);
    }
  }
}

// hover時
@media (any-hover: hover) {
  .p-pagetop:hover .p-pagetop__span {
    transform: translateY(0);
    opacity: 1;
    color: g.$color-red;
  }
  .p-pagetop:hover .p-pagetop__span::before {
    background: g.$color-red;
  }
  .p-pagetop:hover .p-pagetop__span::after {
    border-color: g.$color-red;
  }
}