@use "../../foundation/global" as g;

.p-performance {
  position: relative;
  margin-top: 35%;
  @include g.tablet {
    margin-top: g.rem(260);
  }
}

// タイトル
.p-performance__title {
  position: absolute;
  top: g.tb-vw(-122.88);
  left: 0; 
  z-index: 10;
  @include g.tablet {
    top: g.rem(-90);
    left: unset;
    right: 50%;
    transform: translateX(50%);
    padding-left: g.rem(30);
  }
  @include g.pc {
    top: g.rem(-110);
    padding-left: g.rem(50);
  }
}
.p-performance__title-bg {
  display: inline-block;
  margin: g.rem(5) 0;
  font-size: g.rem(30);
  line-height: 1.8;
  letter-spacing: .34em;
  transition: max-width .5s ease;
}
.p-performance__title-text {
  margin-left: .5em;
  transition: opacity .5s ease;
}


.p-performance__list {
  padding: g.tb-vw(23) 0;
  @include g.tablet {
    padding: g.rem(20) 0;
  }
}

.p-performance__listitem {
  display: flex;
  align-items: center;
  position: relative;
  margin: g.tb-vw(7.68) 0;
  padding: g.tb-vw(23) g.tb-vw(38.4);
  text-align: left;
  border-radius: g.rem(6);
  @include g.tablet {
    display: block;
    flex: 1;
    margin: g.rem(3);
    padding: g.rem(300) 0 g.rem(60);
    text-align: center;
    border-radius: g.rem(15);
  }
}

// リスト内タイトル
.p-performance__listtitle {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  position: static;
  top: g.rem(60);
  left: 50%;
  margin-left: 0;
  font-size: g.tb-vw(30);
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  @include g.tablet {
    display: block;
    position: absolute;
    margin-left: -.8em;
    font-size: g.rem(20);
    font-weight: normal;
    line-height: 1.8;
  }
  & span {
    display: block;
    order: 2;
    font-size: g.tb-vw(16);
    @include g.tablet {
      order: unset;
      font-size: g.rem(10);
    }
  }
}

// リスト内実績件数
.p-performance__case {
  padding-right: 1em;
  font-size: g.tb-vw(23);
  font-weight: bold;
  @include g.tablet {
    padding-right: 0;
    font-size: g.rem(11);
    font-weight: normal;
  }
  & span {
    font-size: g.tb-vw(27);
    @include g.tablet {
      font-size: g.rem(16);
    }
    @include g.pc {
      font-size: g.rem(18);
    }
  }
}

// リスト内ページ数実績数
.p-performance__page {
  font-size: g.tb-vw(23);
  font-weight: bold;
  line-height: 1.2;
  @include g.tablet {
    font-size: g.rem(11);
    font-weight: normal;
  }
  & span {
    display: inline-block;
    font-size: g.tb-vw(30);
    @include g.tablet {
      display: block;
      font-size: g.rem(22);
    }
    @include g.pc {
      font-size: g.rem(26);
    }
  }
}