@use "../../foundation/global" as g;

.p-point {
  position: relative;
  padding-top: g.rem(50);
}

// イメージ画像
.p-point__image {
  background: url(../../../img/point/point_img01@2x.webp) no-repeat center / cover;
  height: g.tb-vw(729.594);
  @include g.tablet {
    background: none;
    height: auto;
  }
}

// タイトル
.p-point__titlearea {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  margin: auto auto;
}
.p-point__title-bg {
  margin: 0 g.rem(15);
  font-size: g.rem(40);
  line-height: 1.2;
  letter-spacing: .34em;
  transition: max-height .5s ease;
}
.p-point__title-text {
  margin-top: g.rem(10);
  transition: opacity .5s ease;
  &--big {
    @extend .p-point__title-text;
    font-size: 200%;
  }
}

// リスト
.p-point__list {
  position: relative;
}
// point01
.p-point__list-item01 {
  position: static;
  width: g.tb-vw(691.195);
  aspect-ratio: 1;
  margin-top: g.tb-vw(-115.2);
  background: url(../img/point/point_img02@2x.webp) no-repeat center / cover;
  border-radius: 100%;
  overflow: hidden; 
  @include g.tablet {
    position: absolute;
    top: g.pc-vw(-110);
    right: 0;
    width: g.pc-vw(506);
    margin-top: 0;
    z-index: 10;
  }
  @include g.pc {
    top: g.rem(-150);
    width: g.rem(512);
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: g.$color-black;
    border-radius: 100%;
    opacity: 0;
    z-index: 5;
    transition: all .3s ease;
  }

  & a {
    display: grid;
    place-content: center;
    place-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 15%;
    color: g.$color-white;
    text-align: center;
    border: g.rem(5) solid transparent;
    border-radius: 100%;
    overflow: hidden;
    z-index: 10;
    transition: all .3s ease;
    @include g.tablet {
      border-width: g.rem(15);
    }
    @include g.pc {
      padding-bottom: g.rem(50);
    }
  }

  & .p-point__list-number {
    border-color: g.$color-white;
    }

  & .p-point__list-catch {
    font-size: g.tb-vw(30);
    color: g.$color-white;
    transition: all .3s ease;
    @include g.tablet {
      font-size: g.pc-vw(22);
    }
    @include g.pc {
      font-size: g.rem(26);
    }
  }

  & .p-point__list-arrow {
    bottom: 20%;
    @include g.tablet {
      bottom: 15%;
    }
    @include g.pc {
      bottom: g.rem(60);
    }
    &::before {
      border-color: transparent g.$color-black g.$color-black transparent;
    }
  }
}
// point02
.p-point__list-item02 {
  position: relative;
  width: 100%;
  margin: -8% 0 5%;
  padding: 0;
  @include g.tablet {
    width: 46%;
    margin: 0;
    padding-top: g.pc-vw(110);
  }
  @include g.pc {
    width: g.rem(480);
    padding-top: g.rem(80);
  }
  & a {
    display: block;
    transition: all .3s ease;
  }
  & .p-point__list-catch {
    width: 7em;
    font-size: g.tb-vw(98.304);
    color: transparent;  
    line-height: 1;
    letter-spacing: 0;
    background: url(../../../img/point/point_img03@2x.webp) no-repeat center / cover;
    background-clip: text;
    transition: all .3s ease;
    @include g.tablet {
      font-size: g.pc-vw(66);
    }
    @include g.pc {
      width: 100%;
      font-size: g.rem(64);
    }
  }
  & .p-point__list-arrow {
    bottom: g.tb-vw(15.36);
    left: auto;
    right: g.tb-vw(23.04);
    transform: translateX(0);
    @include g.tablet {
      bottom: g.pc-vw(5.5);
      right: 0;
    }
    @include g.pc {
      bottom: g.rem(5);
      right: g.rem(40);
    }
  }
}
// point03
.p-point__list-item03 {
  position: static;
  height: g.tb-vw(445.438);
  margin: 5% 0;
  z-index: 8;
  @include g.tablet {
    position: absolute;
    top: g.pc-vw(363);
    right: g.pc-vw(55);
    height: auto;
    margin: 0;
  }
  @include g.pc {
    top: g.rem(340);
    right: g.rem(80);
  }
}

// hover時
@media (any-hover: hover) {
  .p-point__list-item01 a:hover {
    border-color: g.$color-red;
    opacity: 1;
    & .p-point__list-number,
    & .p-point__list-catch {
      color: g.$color-red;
      border-bottom-color: g.$color-red;
    }
    & .p-point__list-arrow {
      background: g.$color-red;
      &::before {
        border-color: g.$color-black;
      }
    }
  }
  .p-point__list-item02 {
    & a:hover {
    opacity: 1;
    }
    & .p-point__list-catch:hover {
      color: g.$color-red;
    }
  }
}